
<html>
    <head>
    </head>
    <style>

body {
    background-image: url("http://www.ubknights.com/sports/bsb/2014-15/photos/3_ub_sec_fc.jpg");
    background-position:no-repeat;
    background-size:full;
}

</style>

    <body>
    {% block content%}
    {% if x %}
    {% for data in x %}
    <h5>RESULT</h5>
    <table class="table">

        <tr>

            <td><label> B ADMIN ID : {{data.B_ADMIN_ID}}</label></td>
            <td></td>
            <td><label> FIRST NAME : {{data.F_NAME}}</label></td>
            <td></td>
            <td><label> LAST NAME : {{data.L_NAME}}</label></td>
            <td></td>
            <!--
            <td><label> EMAIL ID : {{data.B_ADMIN_EMAIL_ID}}</label></td>
            <td></td>
            <td><label> ADMIN ID : {{data.ADMIN_ID}}</label></td>
        -->
        </tr>
    </table>
    {% endfor %}
    {% else %}
    <form id="form1" name="form1" method="post" action="/buildinguserv">
        {% csrf_token %}
        <input type="hidden" name="input" id="textfield" />
        <textarea name="text1" id="textarea" cols="45" rows="5"></textarea>
        <input type="submit" name="button" id="button" value="TypeQuery" />
    </form>
    {% endif %}
    {% endblock content%}



    </body>
</html>
