
<html>
    <head>
    </head>
    <style>

body {
    background-image: url("http://www.ubknights.com/sports/bsb/2014-15/photos/3_ub_sec_fc.jpg");
    background-position:no-repeat;
    background-size:full;
}

</style>

    <body>
    {% block content%}
    {% if x %}
    {% for data in x %}
    <h5>RESULT</h5>
    <table class="table">

        <tr>

            <td><label> DEPT ID : {{data.DEPT_ID}}</label></td>
            <td></td>
            <td><label> DEPT NAME : {{data.DEPT_NAME}}</label></td>
            <td></td>
            <!--
            <td><label> ADMIN ID : {{data.ADMIN_ID}}</label></td>
            <td></td>

            <td><label> BUILDING ADMIN ID : {{data.B_ADMIN_ID}}</label></td>
        -->
        </tr>
    </table>
    {% endfor %}
    {% else %}
    <form id="form1" name="form1" method="post" action="/departmentv">
        {% csrf_token %}
        <input type="hidden" name="input" id="textfield" />
        <textarea name="text1" id="textarea" cols="45" rows="5"></textarea>
        <input type="submit" name="button" id="button" value="TypeQuery" />
    </form>
    {% endif %}
    {% endblock content%}



    </body>
</html>
